.header-container{
background-color: rgb(236, 231, 194);
}
li{
    color: rgb(19, 19, 17);
    
    font-size: 25px;
}
.div{
    font-size: large;
}
.title{
    font-size: 80px;
}
body{
    background-color: rgb(194, 204, 135);
}

.cover{
    background-image:url(../images/ქოვერი.jpg)
    
    
}


.div{
    background-color: rgb(27, 61, 56):
}
.copyright{
    border: 6px solid rgb(37, 75, 43);
}
